<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>

    <!-- favicon -->
    <link rel="icon" href="images/positive-emotion-yellow-emoji-isolated-object-png.png">

    <!-- stylesheet -->
    <link rel="stylesheet" href="styles/guestbook-style.css">

    <!-- javascript -->
     <script src="js/guestbook.js" defer></script>
</head>
<body>
    <main>
        <form id="contact-form" action="#" method="get">
            <h1>Contact Form</h1>
            
            <section class="top-row">
            <div class="field">
                <!-- first name -->
                <label for="fname">First Name
                    <span class="err" id="err-fname">First name is required.</span>
                </label>
                <input type="text" id="fname" name="fname">
            </div>

            <div class="field">
                <!-- last name -->
                <label for="lname">Last Name
                    <span class="err" id="err-lname">Last name is required.</span>
                </label>
                <input type="text" id="lname" name="lname">
            </div>

            <div class="field">
                <!-- job title -->
                <label for="job">Job Title</label>
                <input type="text" id="job" name="job">
            </div>
            </section>

            <section class="middle-row">
            <div class="field">
                <!-- company -->
                <label for="company">Company</label>
                <input type="text" id="company" name="company">
            </div>
            
            <div class="field">
                <!-- linkedin -->
                <label for="linkedin">LinkedIn/Handshake URL</label>
                <input type="text" id="linkedin" name="linkedin">
            </div>

            <div class="field">
                <!-- email -->
                <label for="email">Email Address
                    <span class="err" id="err-email">Email is required for mailing list.</span>
                </label>
                <input type="text" id="email" name="email">
            </div>
            </section>

            <section class="bottom-row">
            <!-- how we met -->
            <div class="field">
                <label>How did we meet?</label>
                <span class="err" id="err-how-we-met">Please select an option.</span>
                <select id="meeting" name="meeting">
                    <option value="none">Please select</option>
                    <option value="social">Social Media (X, Youtube, Instagram)</option>
                    <option value="project">We worked on a project together</option>
                    <option value="casual">We met casually</option>
                    <option value="other">Other</option>
                </select>
            </div>
            
            <!-- other text box -->
            <div class="field">
                <label for="other-text">Other (please specify)</label>
                <input type="text" id="other-text" name="other-text">
            </div>
            </section>

            <!-- message -->
             <label for="message">Message</label>
             <textarea rows="6" id="message" name="message"></textarea>

            <!-- mailing -->
            <label for="mailing">
                <input type="checkbox" id="mailing" name="mailing">Please add me to your mailing list.
            </label>

            <!-- email format -->
            <section class="email">
                <label>Choose an email format:</label>
                <label for="form-html">
                    <input type="radio" id="form-html" value="form-html" name="method">HTML
                </label>
                <label for="form-text">
                    <input type="radio" id="form-text" value="form-text" name="method">Text
                </label>
            </section>

            <!-- submit button -->
            <button type="submit" id="submit-button" name="submit">Submit</button>
        </form>   
    </main>

</body>

</html>