* {
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, sans-serif
}

.field {
    display: flex;
    flex-direction: column;
}

body {
    background-color: rgb(240, 240, 240);
}

form {
    background-color: white;
    padding: 2px 20px 20px 20px;
    border-radius: 8px;
}

label {
    display: block;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 8px;
}

main {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: rgb(30,30,30);
}

input[type="text"], select, textarea {
    width: 100%;
    padding: 8px 8px 8px 8px;
    border: 2px solid rgb(240,240,240);
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
}

.email {
    display: flex;
    flex-direction: row;
    margin: 5px 0 5px;
}

.top-row, .middle-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 20px;
    margin-bottom: 3rem;
}

.bottom-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 20px;
    margin-bottom: 3rem;
}

.err {
    color: darkred;
    display: none;
}

#mailing {
    margin-top: 2rem;
    margin-bottom: .75rem;
}

#submit-button {
    background-color: rgb(0, 172, 0);
    color: white;
    padding: 0.5rem 1.5rem 0.5rem;
    text-align: center;
    border-radius: 4px;
    border: none;
    font-size: 18px;
}