* {
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, sans-serif
}

body {
    margin: 0;
    padding: 40px;
}

main {
    max-width: 900px;
    margin: 0 auto;
    border-radius: 6px;
}

header h1 {
    text-align: center;
    margin-top: 0;
}

input[type="text"], {
    
}

legend {
    color: rgb(76, 175, 80);
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    padding: 0 12px;
}

main {
    background-color: white;
    width: 30%;
    max-width: 500px;
    min-width: fit-content;
    margin: 0 auto 1rem auto;
    padding: 0 1rem 2rem 1rem;
}

#submit-button {
    width: 100%;
    border: none;
    background-color: rgb(76, 175, 80);
    padding: 0.75rem 0.75rem;
    border-radius: .5rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}