* {
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, sans-serif
}

body {
    
}

.field {
    display: flex;
    flex-direction: column;
}

form {
    
}

label {
    display: block;
}

main {
    max-width: 900px;
    margin: 0 auto;
}

header h1 {
    text-align: center;
}

.top-row, .middle-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 20px;
    margin-bottom: 20px;
}

.bottom-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 20px;
    margin-bottom: 20px;
}

input[type="text"], select, textarea {
    width: 100%;
}


#submit-button {
    
}